.logo {
	height: 6rem;
	width: 6rem;
	@media only screen and (max-width: 992px) and (min-width: 480px) {
		height: 4rem;
		width: 4rem;
	}
	@media only screen and (max-width: 480px) {
		height: 3rem;
		width: 3rem;
	}
}

.text {
	font-family: "Funnel Display", serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-size: 26px;
	color: #cc9e21;
	@media only screen and (max-width: 992px) {
		font-size: 20px;
	}
}

.active {
	color: #cfad51 !important;
	font-weight: bold;
	border-bottom-color: #cfad51;
	border-style: solid;
	border-bottom-width: thin;
}
.nav-link {
	color: rgb(177, 175, 175); /* Default color */
	text-decoration: none;
	font-size: medium;
	@media only screen and (max-width: 432px) {
		font-size: 16px;
	}
}
.nav-link:hover {
	color: #cfad51 !important; /* Default color */
	text-decoration: none;
	border-bottom-color: #cfad51;
	border-style: solid;
	border-bottom-width: thin;
}
.navbar-text {
	color: #cc9e21 !important;
	font-family: "Roboto", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	font-size: 46px;
	margin-left: 2.5%;
	vertical-align: bottom;
	@media only screen and (max-width: 480px) {
		font-size: 24px;
	}
	@media only screen and (max-width: 992px) and (min-width: 480px) {
		font-size: 32px;
	}
}
.navbar-toggler {
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.navbar-collapse {
	@media (max-width: 992px) {
		padding-left: 2.5%;
	}
}
.pageHeading {
	color: #cc9e21 !important;
	font-family: "Funnel Display", serif;
	font-style: normal;
}

.our-services-subHeading {
	font-family: "Funnel Display", serif;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 2px;
	font-size: 24px;
	color: #cc9e21;
}

.our-services-text {
	font-family: "Funnel Display", serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	text-align: justify;
}

hr {
	border: none;
	border-top: 3px double #cc9e21;
	color: #cc9e21;
	overflow: visible;
	text-align: center;
	height: 5px;
}

hr::after {
	background: #fff;
	content: "§";
	padding: 0 4px;
	position: relative;
	top: -13px;
}

.zoom-img img {
	transition: all 0.4s ease;
}

.zoom-img img:hover {
	overflow: auto;
	transform: scale(0.9);
}

.footer-company-title {
	color: #cc9e21;
}
.footer-text {
	color: rgb(177, 175, 175);
}
.es-image {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.kitchen-bath-imag {
	min-height: 250px !important;
	max-height: 250px !important;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}
